<%- include('../partials/top.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs', {name: email, isAdmin: true}) %>
    <header id="audit" data-audit-id="<%= audit.id %>">
        <h1>User Access Review - Review <%= audit.id %></h1>
    </header>
    <main>       
        <div class="content">
            <div id="userDetails">
                <div id="userInfo">
                    <div class="card">
                        <div class="card-header">
                            Review Details
                        </div>
                        <div class="card-body">
                            <!-- List name, and other audit information -->
                            <div id="auditInfo">
                                <div id="auditName">
                                    <p id="auditNameText"><b>Name:</b> <%= audit.auditName %></p>
                                </div>
                                <div id="auditDescription">
                                    <p id="auditDescriptionText"><b>Description:</b><%= audit.auditDescription %></p>
                                </div>
                                <div id="auditStartDate">
                                    <p id="auditStartDateText"><b>Start Date: </b><%= audit.auditStartDate %></p>
                                </div>
                                <div id="auditCollectedAt">
                                    <p id="auditStatusText"><b>Collected at : </b><%= audit.collected_at %></p>
                                </div>
                                <div id="auditCompletedAt">
                                    <p id="auditStatusText"><b>Completed at : </b><%= audit.completed_at %></p>
                                </div>
                                <div id="auditProgress">
                                    <p id="auditProgressText"><b>Progress : </b></p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            </br>
            <div>
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Reviewers
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Reviewer</th>
                                    <th>Review Progress</th>
                                    <th>Completion Status</th>
                                </tr>
                            </thead>

                            <tbody id="managersList">
                        
                            </tbody>
                        </table>
                    </div>
                </div>
                <button id="exportReportButton">Export Report</button>
            </div>
            </br>
            <div>
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Employees without a reviewer
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Title</th>
                                    <th>Set Reviewer</th>
                                </tr>
                            </thead>

                            <tbody id="employeesWithoutManagerList">
                        
                            </tbody>
                        </table>
                    </div>
                </div>
                <button id="saveChangesButton">Save Changes</button>
            </div>
        </div>
    </main>
    <script src="/js/audit-details.js"></script>
</body>
</html>